/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}
