<nav class="navbar">
  <a routerLink="/discover" class="navbar-brand"
    ><img src="../assets/hoopr-logo.png" alt=""
  /></a>
  <a
    routerlinkactive="active"
    routerlink="/copyright"
    class="nav-link"
    href="/copyright"
    >CLAIM CLEARANCE</a
  >
</nav>
<div class="form-container">
  <h2 class="title">Claim Clearance in 24 hours</h2>
  <p class="sub-title">
    Claim Submission <span class="brand-color">Form</span>
  </p>
  <p class="description">
    Don’t worry, if you are a Hoopr subscriber, we will help you clear the
    copyright claim. While your claim is being cleared, your channel and video
    monetization will NOT be affected
  </p>
  <form #Form="ngForm" (ngSubmit)="audioMatcher()" action="">
    <input
      [(ngModel)]="this.videoDetails.url"
      type="url"
      inputmode="url"
      name="URL"
      value=""
      placeholder="Video URL*"
      required
      class="inputText"
    />
    <button type="submit" class="CTA_button">Submit Form</button>
  </form>
  <div *ngIf="responseReceived" class="stats">
    <h2 *ngIf="errorReceived">
      Oops... Invalid URL! Please enter a valid YouTube Video URL.
    </h2>
    <h2 *ngIf="!errorReceived">Results</h2>
    <table *ngIf="!errorReceived">
      <tr>
        <th>Hoopr Tracks Used</th>
        <td>{{ matches }}</td>
      </tr>
      <tr>
        <th>Track Names</th>
        <td *ngFor="let item of matchedTracks">{{ item.song_name }}</td>
      </tr>
      <tr>
        <th>Video Title</th>
        <td>{{ this.metaData["name"] }}</td>
      </tr>
      <tr>
        <th>Video Description</th>
        <td>{{ this.metaData["description"] }}</td>
      </tr>
      <tr>
        <th>Video Views</th>
        <td>{{ this.metaData["stats"]["viewCount"] }}</td>
      </tr>
      <tr>
        <th>Video Likes</th>
        <td>{{ this.metaData["stats"]["likeCount"] }}</td>
      </tr>
      <tr>
        <th>Video Comments</th>
        <td>{{ this.metaData["stats"]["commentCount"] }}</td>
      </tr>
      <tr>
        <th>Video Uploaded On:</th>
        <td>{{ this.uploadedAt }}</td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
