.navbar {
  background: #121212;
  color: #fff;
  border: none;
  border-radius: 0;
  height: 4rem;
  box-shadow: 1px 1px 3px #0000001a;
}

.navbar-brand {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand img {
  padding-top: 0.7rem;
  padding-left: 2rem;
  width: 64%;
}

.navbar a {
  font-size: 15px;
  margin: 0 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background: none;
  text-decoration: none;
  color: #ff3567 !important;
}

.nav-link {
  float: right;
  padding-top: 1.5rem;
  padding-right: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 93vh;
  width: 100vw;
  background-color: #000;
}

.title {
  margin-top: 2rem;
  color: #fff;
  display: block;
  font-size: 50px !important;
  font-weight: 500;
  line-height: 1.2;
}

.sub-title {
  margin-top: 2rem;
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.5px;
}

.brand-color {
  color: #ff3567;
}

.description {
  margin-top: 1rem;
  color: #fff9 !important;
  font-size: 15px !important;
  line-height: 1.5 !important;
  letter-spacing: 1.3px;
  width: 38rem;
  text-align: center;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 540px;
  align-items: center;
  justify-content: center;
}

input {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  padding-top: 12px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  border: 1px solid #ff3567;
  outline: none;
  writing-mode: horizontal-tb !important;
  background: none;
  height: 53px;
  border-radius: 4px 22px 4px 18px;
  color: #fff;
  background-color: #1e1e1e;
  overflow: hidden;
}

.CTA_button {
  cursor: pointer;
  font-size: 17px;
  padding: 13px 60px;
  letter-spacing: 1.3;
  border-radius: 2px 20px;
  background-image: linear-gradient(to right, #ff7b7b, #ff3567);
  border: none;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.stats {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}

.stats p {
  margin: 1rem;
}

li {
  list-style: none;
  white-space: nowrap;
  width: 90vw; /* IE6 needs any width */
  overflow: hidden; /* "overflow" value must be different from  visible"*/
  -o-text-overflow: ellipsis; /* Opera < 11*/
  text-overflow: ellipsis;
}

ul {
  margin-top: 1rem;
}

h2 {
  color: #fff;
  margin-top: 1rem;
}

table {
  table-layout: fixed;
  width: 40rem;
  min-width: 30rem;
}

th {
  padding: 0.5rem;
  width: 15rem;
  min-width: 10rem;
}

td {
  padding: 0.5rem;
  width: 65rem;
}

table,
th,
td {
  margin-top: 1rem;
  border: 1px solid #ff3567;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  min-width: 3rem;
  background-color: #1e1e1e;
}
